header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
   height: 15%;
    @media screen and (max-width: 735px) {
        padding: 0 20px
    }
    
    .logo {
        width: 210px;

        @media screen and (max-width: 700px) {
            width: 145px;
            height: 47px;
        }
    }
}

.navbar {
    display: flex;
        li{
            margin-left: 50px;
            text-align: right;
            color: $orange;
            font-size: 22px;
            font-weight: 500;
            @media screen and (max-width: 735px) {
                font-size: 18px;
                
            }
            @media screen and (max-width: 500px) {
                margin-left: 20px;
                font-size: 14px;
            }
            .active {
                text-decoration: underline $orange;
            }            
            .inactive {    
                font-weight: 500;
            }
        }    
}