.notfound{
    color: $orange;
    min-height: 65%;
    &__elements{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--title{
            font-weight: 700;
            font-size: 18rem;
            margin-top: 5px;
                  
            @media screen and (max-width: 700px) {
                font-size: 8.75rem;
                margin-bottom: 2rem;
                margin-top:50px;
                  
            }
        }
        &--content{
            font-weight: 500;
            font-size: 1.8rem;
            text-align: center;
            margin-bottom: 3rem;
            @media screen and (max-width: 700px) {
                font-size: 1.4rem;
                padding: 0 20px; 
                
            }
        }
        &--backhome{
            color: $orange;
            display: block;
            text-align: center;
            font-weight: 500;
            font-size: 1.2rem;
            margin-top:30px;
            text-decoration-line: underline;

            &:hover{
                opacity: 0.8;;
            }
            @media screen and (max-width: 700px) {
                font-size: 1rem;
            }
        }
    }
}