.notfound{
    padding-bottom: 40px;
    color: $orange;
    min-height: 60vh;
    &__elements{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 768px) {
            padding-top: 80px;   
        }
       
        &--title{
            font-weight: 700;
            font-size: 18rem;
            @media screen and (max-width: 768px) {
                font-size: 8.75rem;    
            }
        }
        &--content{
            font-weight: 500;
            font-size: 2.2rem;
            text-align: center;
            @media screen and (max-width: 768px) {
                font-size: 1.5rem;
            }
        }
        &--backhome{
            color: $orange;
            display: block;
            text-align: center;
            font-weight: 500;
            font-size: 1.2rem;
            margin-top:30px;
            &:hover {
                text-decoration-line: underline;
            }
            @media screen and (max-width: 768px) {
                font-size: 1rem;
            }
        }
    }
}