.carousel{
  position: relative;
  width: 100%;
  height: 415px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  margin: 30px auto;
  border-radius: 25px;
  @media screen and (max-width: 650px){
    height: 250px;    
  }
}
.image {
  width: 100%;
  height:100%;
}
  
.arrow{
  &_R {
    position: absolute;
    top: 38%;
    right: 30px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    @media screen and (max-width: 650px){
      top: 40%;
      width: 20px;   
    }
  }
  &_L{
    position: absolute;
    top: 38%;
    left: 30px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    @media screen and (max-width: 650px){
      top: 40%;
      width: 20px;    
    }
  }
  
}

.slideCount{
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  @media screen and (max-width: 650px){
    font-size: 0.8rem;
  }
}